.data-output-modal {
  background-color: #fff;
  height: 37rem;
  display: inline-block;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
  border: 0;
}

.dataom-title-container {
  align-items: center;
  background-color: #eff7fe;
  border-bottom: solid 4px #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  /* overflow-x: scroll; */
}

.dataom-modal-title {
  color: #3b8ed6;
}

.dataom-x-button {
  background-color: #f00;
  color: #fff;
  margin: 8px;
  outline: none;
}

.dataom-table-container {
  height: 85%;
  /* width: 75%; */
  /* overflow-x: scroll;
  overflow-y: scroll; */
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
