.landing-page {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.lp-main-container {
  align-items: center;
  background-color: #eff7fe;
  border: solid 1px #f2f2f2;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-between;
  padding: 15% 10% 10% 10%;
  width: 60vw;
}

.lp-title-container {
  background-color: #fff;
  border: solid 1px #3b8ed6;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 3px 3px #d0d6d3;
  color: #3b8ed6;
  padding: 2rem;
}

.lp-main-title {
  color: #3b8ed6;
  text-decoration: underline;
  font-size: 2.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0;
}

.lp-link-button-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 90%;
  
}

.lp-link-buttons {
  background-color: #fff;
  border: solid 2px #f2f2f2;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 3px 3px #d0d6d3;
  color: #000;
  font-weight: bold;
  padding: 40px;
  text-decoration: none;
}

.lp-link-buttons:active {
  background-color: #3b8ed6;
  border: solid 2px #3b8ed6;
  color: #fff;
  font-weight: bold;
}
