.dataot-History-of-Present-Illness,
.dataot-Imaging,
.dataot-Physical-Exam {
  padding: 30px 60px 60px 60px;
  text-align: left;
}

.dataot-table, .dataot-Laboratory-Data {
  display: inline-block;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
  border: 0;
}

.dataot-line-item {
  list-style-position: inside;
  list-style-type: none;
  margin-bottom: 30px;
  margin-top: 30px;
}

.blank-table-head {
  background-color: #EFF7FE;
  border-bottom: solid 1px #000;
  border-right: solid 1px #000;
  height: 38px;
  width: 200px;
  padding: 0 1rem;
}

.table-key {
  background-color: #fff;
  border-bottom: solid 1px #000;
  border-right: solid 1px #000;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 200px;
}

.dataot-medication-item {
  list-style-type: none;
  padding-right: 20px;
}