.dataot-History-of-Present-Illness,
.dataot-Imaging,
.dataot-Physical-Exam {
  list-style-position: inside;
}

.dataot-line-item {
  margin-bottom: 10px;
  margin-top: 10px;
}

.blank-table-head {
  background-color: #EFF7FE;
  border-bottom: solid 1px #000;
  border-right: solid 1px #000;
  height: 38px;
}

.table-key {
  border-bottom: solid 1px #000;
  border-right: solid 1px #000;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 200px;
}