.InputCard-text {
  display: flex;
  flex-direction: column;
}

.header-info-container-number {
  display: flex;
  align-items: center;
  height: 2.25rem;
}

.input-text-header {
  text-align: left;
}

.input-number {
  width: 30%;
}