.InputContainer {
  width: 100%;
}

.InputContainer-radio {
    display: flex;
    flex-direction: column;
    height: 5rem;
    justify-content: space-evenly;
    margin: 0 0 1rem;
}

.modality-radio-label {
  color: #232323;
  font-weight: 600;
}

