.rm-title-container {
  background-color: #c8e9ff;
  border-bottom: solid 1px #3b8ed6;
}

.rm-title {
  background-color: #c8e9ff;
  color: #3b8ed6;
  height: 38px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 21px;
}

.rm-body-container {
  align-items: flex-start;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px #d0d6d3;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  margin: 3rem auto;
  padding: 2rem;
  width: 50%;
}

.rm-back-btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.rm-back-to-simulator-btn {
  background-color: #c8e9ff;
  border: solid 1px #3b8ed6;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 3px 3px #d0d6d3;
  color: #3b8ed6;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0 0 2rem;
  padding: 8px;
}

.rm-back-to-simulator-btn:hover {
  background-color: #5ea0f8;
  color: #fff;
}

.rm-back-to-simulator-btn:active {
  background-color: #fff;
  border: solid 1px #5ea0f8;
  color: #5ea0f8;
}

.rm-body-section-title {
  border-bottom: solid 1px #000;
  border-top: solid 1px #000;
  padding-bottom: 16px;
  padding-top: 16px;
}

.rm-body-msg {
  text-align: left;
}