.OrdersModal {
	background-color: #FFF;
	border-radius: 5px;
	box-shadow: 3px 3px #d0d6d3;
	height: 80%;
	margin: 3rem auto;
	width: 80%;
	display: grid;
	grid-template-columns: 2rem 1fr;
}

.orders-modal-sidebar {
	background-color: #5ea0f8;
	border-radius: 5px 0 0 5px;
}

.orders-modal-main-content {
	padding: 0 0 0 2rem;
}

.orders-modal-header {

}

.orders-modal-h2 {
	color: #5ea0f8;
	text-align: left;
}

.orders-modality-container {
	height: 18rem;
	text-align: left;
}

.fa-question-circle {
	margin: 0 0 0 0.25rem;	
}

.textbook-link {
	color: #000;
}

.header-info-container {
	align-items: center;
	display: flex;
  justify-content: flex-start;
}

.input-container {
	background-color: #FFF;
	display: flex;
  flex-direction: column;
	width: 50%;
  margin: 1rem;
  padding: 1rem;
}

.input-error-container {
  width: 100%;
  margin: 1rem 0 0 0;
	height: 4rem;
}

.input-error-text {
	font-size: 0.75rem;
  text-align: left;
  overflow-wrap: normal;
}

.orders-modality-other-container {
	height: 10rem;
}

.orders-modality-anticoagulation-container {
	height: 12rem;
}

.input-radio {
	cursor: pointer;
}

