.OrdersModal {
	background-color: #FFF;
	border-radius: 5px;
	box-shadow: 3px 3px #d0d6d3;
	height: 80%;
	margin: 3rem auto;
	width: 80%;
	display: grid;
	grid-template-columns: 2rem 1fr;
}

.orders-modal-sidebar {
	background-color: #5ea0f8;
	border-radius: 5px 0 0 5px;
}

.orders-modal-main-content {
	padding: 0 1rem;
}

.orders-replacement-fluid-container {
	width: 100%;
}

.orders-modal-header {

}

.orders-modal-h2 {
	color: #5ea0f8;
	text-align: left;
}

.orders-modality-container {
	height: 12rem;
	text-align: left;
}

.fa-question-circle {
	margin: 0 0 0 0.25rem;	
}

.textbook-link {
	color: #000;
	margin: 0 1rem 0 0;
}

.input-container-main {
	height: 45rem;
	display: flex;
  flex-direction: column;
  align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}

.header-info-container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	height: 2.5rem;
	width:
}

.input-container {
	background-color: #FFF;
	display: flex;
  flex-direction: column;
	height: 2rem;
  margin: 1rem;
}

.input-error-container {
  width: 50%;
  margin: 1rem 0 0 0;
	height: 4rem;
}

.input-error-text {
	color: red;
	font-size: 0.75rem;
	text-align: left;
	margin: 0 0 0 1rem;
  overflow-wrap: normal;
}

.orders-modality-other-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 12rem;
}

.orders-modality-anticoagulation-container {
	height: 12rem;
	text-align: left;
}

.other-fluids-meds-checkbox {
	margin: 0.25rem;
}

.input-radio {
	cursor: pointer;
}

